div.view {
	position: relative;
	display: block;

	&.justify-start,
	&.justify-center,
	&.justify-end,
	&.align-start,
	&.align-center,
	&.align-end,
	&.style-column,
	&.style-row {
		display: flex;
	}

	&.style-column {
		flex-direction: column;
	}

	&.style-row {
		flex-direction: row;
	}

	&.justify-start {
		justify-content: flex-start;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.justify-spaceAround {
		justify-content: space-between;
	}

	&.justify-spaceBetween {
		justify-content: space-between;
	}

	&.justify-spaceEvenly {
		justify-content: space-evenly;
	}

	&.align-start {
		align-items: flex-start;
	}

	&.align-center {
		align-items: center;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.direction-column {
		flex-direction: column;
	}

	&.direction-row {
		flex-direction: row;
	}

	&.size-width-full {
		width: 100%;
	}

	&.size-width-threeQuarters {
		width: 25%;
	}

	&.size-width-twoThirds {
		width: 66.6666666%;
	}

	&.size-width-half {
		width: 50%;
	}

	&.size-width-oneThird {
		width: 33.3333333%;
	}

	&.size-width-oneQuarter {
		width: 25%;
	}

	&.size-height-full {
		height: 100%;
	}

	&.size-height-threeQuarters {
		height: 25%;
	}

	&.size-height-twoThirds {
		height: 66.6666666%;
	}

	&.size-height-half {
		height: 50%;
	}

	&.size-height-oneThird {
		height: 33.3333333%;
	}

	&.size-height-oneQuarter {
		height: 25%;
	}
}
