button.button {
	// Override browser defaults
    border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    text-decoration: none;
}

button.button {
	// Display & Positioning
	display: inline-block;
	position: relative;

	// Sizes
	width: auto;
	height: auto;

	// Borders
	border-radius: var(--size-border-radius);
	border-width: var(--size-border-width);
	border-style: solid;
	border-color: transparent;

	// Colors
	background-color: transparent; // Default background color
	color: rgba(var(--color-blue), 1.0); // Default color

	// Miscellaneous
	cursor: pointer;
	user-select: none;

	// Transitions & Animations
	will-change: opacity;
	transition-property: opacity;
	transition-duration: var(--animation-regular-duration);
	transition-timing-function: var(--animation-regular-timing);
	transition-delay: 0ms;

	&:active {
		opacity: var(--opacity-selected);

		// Transitions & Animations
		transition-duration: 0ms;
	}

	svg.icon,
	figure.icon {
		// Margin & padding
		margin-right: var(--size-separation-extra-small);

		// Color
		fill: rgba(var(--color-blue), 1.0); // Default color
	}

	// Button Title
	span.button-title {
		// Display & Positioning
		position: relative;
		display: block;

		// Sizes
		width: auto;
		height: auto;

		// Typography
		font-family: var(--font-family);
		font-size: var(--font-size-button);
		font-weight: var(--font-weight-button);
		letter-spacing: var(--font-weight-button);
	}

	// Colors
	&.color {

		&-accent {
			color: rgba(var(--color-accent), 1.0);

			svg.icon {
				fill: rgba(var(--color-accent), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-accent), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-accent), 1.0);
					border-color: rgba(var(--color-accent), 1.0);
				}

			}
		} // &-accent

		&-white {
			color: rgba(var(--color-white), 1.0);

			svg.icon {
				fill: rgba(var(--color-white), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-white), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-white), 1.0);
					border-color: rgba(var(--color-white), 1.0);
				}

			}
		} // &-white

		&-black {
			color: rgba(var(--color-black), 1.0);

			svg.icon {
				fill: rgba(var(--color-black), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-black), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-black), 1.0);
					border-color: rgba(var(--color-black), 1.0);
				}

			}
		} // &-black

		&-blue {
			color: rgba(var(--color-blue), 1.0);

			svg.icon {
				fill: rgba(var(--color-blue), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-blue), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-blue), 1.0);
					border-color: rgba(var(--color-blue), 1.0);
				}

			}
		} // &-blue

		&-green {
			color: rgba(var(--color-green), 1.0);

			svg.icon {
				fill: rgba(var(--color-green), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-green), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-green), 1.0);
					border-color: rgba(var(--color-green), 1.0);
				}

			}
		} // &-green

		&-indigo {
			color: rgba(var(--color-indigo), 1.0);

			svg.icon {
				fill: rgba(var(--color-indigo), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-indigo), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-indigo), 1.0);
					border-color: rgba(var(--color-indigo), 1.0);
				}

			}
		} // &-indigo

		&-orange {
			color: rgba(var(--color-orange), 1.0);

			svg.icon {
				fill: rgba(var(--color-orange), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-orange), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-orange), 1.0);
					border-color: rgba(var(--color-orange), 1.0);
				}

			}
		} // &-orange

		&-pink {
			color: rgba(var(--color-pink), 1.0);

			svg.icon {
				fill: rgba(var(--color-pink), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-pink), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-pink), 1.0);
					border-color: rgba(var(--color-pink), 1.0);
				}

			}
		} // &-pink

		&-purple {
			color: rgba(var(--color-purple), 1.0);

			svg.icon {
				fill: rgba(var(--color-purple), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-purple), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-purple), 1.0);
					border-color: rgba(var(--color-purple), 1.0);
				}

			}
		} // &-purple

		&-red {
			color: rgba(var(--color-red), 1.0);

			svg.icon {
				fill: rgba(var(--color-red), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-red), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-red), 1.0);
					border-color: rgba(var(--color-red), 1.0);
				}

			}
		} // &-red

		&-teal {
			color: rgba(var(--color-teal), 1.0);

			svg.icon {
				fill: rgba(var(--color-teal), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-teal), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-teal), 1.0);
					border-color: rgba(var(--color-teal), 1.0);
				}

			}
		} // &-teal

		&-yellow {
			color: rgba(var(--color-yellow), 1.0);

			svg.icon {
				fill: rgba(var(--color-yellow), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-yellow), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-yellow), 1.0);
					border-color: rgba(var(--color-yellow), 1.0);
				}

			}
		} // &-yellow

		&-gray-1 {
			color: rgba(var(--color-gray-1), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-1), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-1), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-1), 1.0);
					border-color: rgba(var(--color-gray-1), 1.0);
				}

			}
		} // &-gray-1

		&-gray-2 {
			color: rgba(var(--color-gray-2), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-2), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-2), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-2), 1.0);
					border-color: rgba(var(--color-gray-2), 1.0);
				}

			}
		} // &-gray-2

		&-gray-3 {
			color: rgba(var(--color-gray-3), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-3), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-3), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-3), 1.0);
					border-color: rgba(var(--color-gray-3), 1.0);
				}

			}
		} // &-gray-3

		&-gray-4 {
			color: rgba(var(--color-gray-4), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-4), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-4), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-4), 1.0);
					border-color: rgba(var(--color-gray-4), 1.0);
				}

			}
		} // &-gray-4

		&-gray-5 {
			color: rgba(var(--color-gray-5), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-5), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-5), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-5), 1.0);
					border-color: rgba(var(--color-gray-5), 1.0);
				}

			}
		} // &-gray-5

		&-gray-6 {
			color: rgba(var(--color-gray-6), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-6), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-6), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-6), 1.0);
					border-color: rgba(var(--color-gray-6), 1.0);
				}

			}
		} // &-gray-6

		&-gray-7 {
			color: rgba(var(--color-gray-7), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-7), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-7), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-7), 1.0);
					border-color: rgba(var(--color-gray-7), 1.0);
				}

			}
		} // &-gray-7

		&-gray-8 {
			color: rgba(var(--color-gray-8), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-8), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-8), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-8), 1.0);
					border-color: rgba(var(--color-gray-8), 1.0);
				}

			}
		} // &-gray-8

		&-gray-9 {
			color: rgba(var(--color-gray-9), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-9), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-9), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-9), 1.0);
					border-color: rgba(var(--color-gray-9), 1.0);
				}

			}
		} // &-gray-1

		&-gray-10 {
			color: rgba(var(--color-gray-10), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-10), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-10), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-10), 1.0);
					border-color: rgba(var(--color-gray-10), 1.0);
				}

			}
		} // &-gray-10

		&-gray-11 {
			color: rgba(var(--color-gray-11), 1.0);

			svg.icon {
				fill: rgba(var(--color-gray-11), 1.0);
			}

			&.style {

				&-outlined {
					border-color: rgba(var(--color-gray-11), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-gray-11), 1.0);
					border-color: rgba(var(--color-gray-11), 1.0);
				}

			}
		} // &-gray-11

	}

	// Styles
	&.style {

		&-outlined,
		&-filled {

			// Margin & padding
			padding-top: var(--size-separation-small);
			padding-right: var(--size-separation-small);
			padding-bottom: var(--size-separation-small);
			padding-left: var(--size-separation-small);
		}

		&-filled {
			background-color: rgba(var(--color-blue), 1.0); // Default background color.

			span.button-title,
			svg.icon {
				filter: invert(1) grayscale(1) contrast(100); // Should produce a decently-contrasting label for most accent colors.
			}
		}

		&-fullWidth {
			// Display & positioning
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: center;

			// Sizes
			width: 100%;
		}

	}

}
