button.button {
	// Override browser defaults
    border: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
    text-decoration: none;
}

button.button {
	// Display & Positioning
	display: inline-block;
	position: relative;

	// Sizes
	width: auto;
	height: auto;

	// Borders
	border-radius: var(--size-border-radius);
	border-width: var(--size-border-width);
	border-style: solid;
	border-color: transparent;

	// Colors
	background-color: transparent; // Default background color
	color: rgba(var(--color-blue), 1.0); // Default color

	// Miscellaneous
	cursor: pointer;
	user-select: none;

	// Transitions & Animations
	will-change: opacity;
	transition-property: opacity;
	transition-duration: var(--animation-regular-duration);
	transition-timing-function: var(--animation-regular-timing);
	transition-delay: 0ms;

	&:active {
		opacity: var(--opacity-selected);

		// Transitions & Animations
		transition-duration: 0ms;
	}

	// Button Title
	span.button-title {
		// Display & Positioning
		position: relative;
		display: block;

		// Sizes
		width: auto;
		height: auto;

		// Typography
		font-family: var(--font-family);
		font-size: var(--font-size-button);
		font-weight: var(--font-weight-button);
		letter-spacing: var(--font-weight-button);
	}

	// Colors
	&.color {

		&-accent {
			color: rgba(var(--color-accent), 1.0);

			&.style {

				&-outline {
					border-color: rgba(var(--color-accent), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-accent), 1.0);
					border-color: rgba(var(--color-accent), 1.0);

					span.button-title {
						color: rgba(var(--color-accent), 1.0);
						filter: invert(1) grayscale(1) brightness(100); // Should produce a decently-contrasting label for most accent colors.
					}

				}

			}

		}

		&-white {
			color: rgba(var(--color-white), 1.0);

			&.style {

				&-outline {
					border-color: rgba(var(--color-white), 1.0);
				}

				&-filled {
					background-color: rgba(var(--color-white), 1.0);
					border-color: rgba(var(--color-white), 1.0);

					span.button-title {
						color: rgba(var(--color-white), 1.0);
						filter: invert(1) grayscale(1) brightness(100); // Should produce a decently-contrasting label for most accent colors.
					}

				}

			}

		}

	}

	// Styles
	&.style {

		&-outline,
		&-filled {

			// Margin & padding
			padding-top: var(--size-separation-small);
			padding-right: var(--size-separation-small);
			padding-bottom: var(--size-separation-small);
			padding-left: var(--size-separation-small);
		}

		&-fullWidth {
			// Display & positioning
			display: flex;
			flex-direction: row;
			align-content: center;
			justify-content: center;

			// Sizes
			width: 100%;
		}

	}

}
