nav.tabBar {
	// Display & Position
	position: fixed;
	display: block;
    right: 0;
    bottom: 0;
    left: 0;

    // Sizes
	width: 100%;
	height: 32px;

	// Margins & Padding
	padding-bottom: env(safe-area-inset-bottom);

	// Colors
	background-color: orange;
}
