nav.tabBar {
	// Display & Position
	position: absolute;
	display: block;
    right: 0;
    bottom: 0;
    left: 0;

    // Sizes
	width: 100%;

	// Margins & Padding
	padding-bottom: env(safe-area-inset-bottom);
	// padding-bottom: var(--testing-safe-area-inset-bottom);

	// Colors
	background-color: orange;
}
