body {
	// Display & Positioning
	position: relative;
	display: block;

	// Sizes

	// Borders

	// Colors
	background-color: rgba(var(--unikit-global-color-background-rgb), 1.0);
	color: rgba(var(--unikit-global-color-foreground-rgb), 1.0);
} // body
