
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0.0); // Disables tap highlighting on MobileSafari.
} // *

html {
	--unikit-app-color-accent: var(--unikit-color-blue); // Default accent color

	&[color-scheme="light"] {
		// :root {
			--unikit-color-background: var(--unikit-color-white);

			--unikit-color-text: var(--unikit-color-black);
			--unikit-color-text-secondary: var(--unikit-color-black);
			--unikit-color-text-tertiary: var(--unikit-color-black);
			--unikit-color-text-quaternary: var(--unikit-color-black);
			--unikit-color-text-placeholder: var(--unikit-color-black);
			--unikit-color-text-separator: var(--unikit-color-black);
			--unikit-color-link: var(--unikit-color-black);
		// } // :root

	} // [color-scheme="light"]

	&[color-scheme="dark"] {
		// :root {
			--unikit-color-background: var(--unikit-color-black);

			--unikit-color-text: var(--unikit-color-white);
			--unikit-color-text-secondary: var(--unikit-color-white);
			--unikit-color-text-tertiary: var(--unikit-color-white);
			--unikit-color-text-quaternary: var(--unikit-color-white);
			--unikit-color-text-placeholder: var(--unikit-color-white);
			--unikit-color-text-separator: var(--unikit-color-white);
			--unikit-color-link: var(--unikit-color-white);
		// } // :root

	} // [color-scheme="dark"]

} // html

body {
	// Display & Positioning
	display: block;
	position: relative;

	// Sizes
	width: 100%;
	height: 100%;
	min-height: calc(100vh);

	// Borders

	// Background
	background-color: rgba(var(--unikit-color-background), 1.0);

	// Typography
	color: rgba(var(--unikit-color-text), 1.0);
	text-size-adjust: 100%; // Prevent font scaling in landscape.

	div#UniKit-Root {

	} // div#UniKit-Root

} // body








