:root {
	// Default font family with fallbacks
	--font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	// Font features
	--font-features: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

	// Font sizes
	// Sizes based on image resolution of 216ppi for @3x designs
	--font-size-large-title: 3.4rem;
	--font-size-title-1: 2.8rem;
	--font-size-title-2: 2.2rem;
	--font-size-title-3: 2.0rem;
	--font-size-headline: 1.7rem;
	--font-size-body: 1.6rem;
	--font-size-callout: 1.6rem;
	--font-size-subhead: 1.5rem;
	--font-size-footnote: 1.3rem;
	--font-size-caption-1: 1.2rem;
	--font-size-caption-2: 1.1rem;
	--font-size-button: 1.6rem;

	// Font weights
	--font-weight-large-title: 700;
	--font-weight-title-1: 700;
	--font-weight-title-2: 700;
	--font-weight-title-3: 700;
	--font-weight-headline: 800;
	--font-weight-body: 300;
	--font-weight-callout: 300;
	--font-weight-subhead: 300;
	--font-weight-footnote: 300;
	--font-weight-caption-1: 300;
	--font-weight-caption-2: 300;
	--font-weight-button: 500;

	// Font tracking
	--font-tracking-large-title: 0.012rem;
	--font-tracking-title-1: 0.014rem;
	--font-tracking-title-2: -0.012rem;
	--font-tracking-title-3: -0.023rem;
	--font-tracking-headline: -0.026rem;
	--font-tracking-body: -0.026rem;
	--font-tracking-callout: -0.020rem;
	--font-tracking-subhead: -0.016rem;
	--font-tracking-footnote: -0.006rem;
	--font-tracking-caption-1: 0.00rem;
	--font-tracking-caption-2: 0.06rem;
	--font-tracking-button: -0.026rem;
}

// Import font
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter.woff2') format("woff2");
	font-weight: 100 900; // Inter valid weights are 100 to 900.
}
