:root {
	// Default font family with fallbacks
	--font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	// Font features
	--font-features: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;

	// Font sizes
	// Sizes based on image resolution of 216ppi for @3x designs
	--font-size-large-title: 3.4rem;
	--font-size-title-1: 2.8rem;
	--font-size-title-2: 2.2rem;
	--font-size-title-3: 2.0rem;
	--font-size-headline: 1.7rem;
	--font-size-body: 1.7rem;
	--font-size-callout: 1.6rem;
	--font-size-subhead: 1.5rem;
	--font-size-footnote: 1.3rem;
	--font-size-caption-1: 1.2rem;
	--font-size-caption-2: 1.1rem;

	// Font weights
	--font-weight-large-title: 700;
	--font-weight-title-1: 700;
	--font-weight-title-2: 700;
	--font-weight-title-3: 700;
	--font-weight-headline: 800;
	--font-weight-body: 300;
	--font-weight-callout: 300;
	--font-weight-subhead: 300;
	--font-weight-footnote: 300;
	--font-weight-caption-1: 300;
	--font-weight-caption-2: 300;
}

// Import font
@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter.woff2') format("woff2");
	font-weight: 100 900; // Inter valid weights are 100 to 900.
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	&.text {
		font-family: var(--font-family);
		font-feature-settings: var(--font-features);
	}
}

h1.style--largeTitle {
	font-size: var(--font-size-large-title);
	font-weight: var(--font-weight-large-title);
}

h2.Style--Title-1 {
	font-size: var(--font-size-title-1);
	font-weight: var(--font-weight-title-1);
}

h3.Style--Title-2 {
	font-size: var(--font-size-title-2);
	font-weight: var(--font-weight-title-2);
}

h4.Style--Title-3 {
	font-size: var(--font-size-title-3);
	font-weight: var(--font-weight-title-3);
}

h5.Style--Caption-1 {
	font-size: var(--font-size-caption-1);
	font-weight: var(--font-weight-caption-1);
}

h6.Style--Caption-2 {
	font-size: var(--font-size-caption-2);
	font-weight: var(--font-weight-caption-2);
}

p.Style--Body {
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-body);
}

p.Style--Callout {
	font-size: var(--font-size-callout);
	font-weight: var(--font-weight-callout);
}

p.Style--Subhead {
	font-size: var(--font-size-subhead);
	font-weight: var(--font-weight-subhead);
}

p.Style--Footnote {
	font-size: var(--font-size-footnote);
	font-weight: var(--font-weight-footnote);
}
